.main-footer {
  width: 100%;
}

.main-footer .navbar-social .nav-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 15px;
}

.navbar-social .nav-icons a {
  text-decoration: none;
  height: 30px;
}
.nav-icons a svg {
  height: 30px;
}
